/* colors */

.green              { background-color: rgb( 69, 253,  69); }
.green.off          { background-color: rgb( 69,  53,  69); }
.green.on           { background-color: rgb( 69, 253,  69); }
.green.active       { background-color: rgb(255, 255, 255); }

.red                { background-color: rgb(255,  62,  62); }
.red.off            { background-color: rgb(100,  82,  82); }
.red.on             { background-color: rgb(255,  82,  82); }
.red.active         { background-color: rgb(255, 255, 255); }

.blue               { background-color: rgb(134, 134, 255); }
.blue.off           { background-color: rgb(134, 134, 155); }
.blue.on            { background-color: rgb( 84,  84, 255); }
.blue.active        { background-color: rgb(255, 255, 255); }

.yellow             { background-color: rgb(255, 175,  29); }
.yellow.off         { background-color: rgb(155, 175,  29); }
.yellow.on          { background-color: rgb(255, 175,  29); }
.yellow.active      { background-color: rgb(255, 255, 255); }

/* bar */

.bar
{
  height: 100%;
  display: flex;
  background-color: rgb(30, 30, 30);
}

/* button group */

.button-group
{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  flex: 1 auto;
  font-size: 0;
}

.button-group:first-child
{
  text-align: left;
}

.button-group:last-child
{
  text-align: right;
}

.button-group-item
{
  display: inline;
}

/* buttons */

.button
{
  height: 100%;
  min-height: 50px;
  min-width: 50px;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  vertical-align: top;
  cursor: pointer;
  color: #000;
}

/* matrix */

.matrix
{
  height: 100%;
  flex-direction: row;
  display: flex;
}

.matrix__row
{
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
}

.matrix__row > *
{
  flex: 1;
}

/* selector */

.selector
{
  border: 5px solid #000;
  display: flex;
  flex-direction: column;
}

.selector__label
{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.selector__buttons
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 auto;
}

.selector__buttons .button
{
  flex: 1;
  height: auto;
  min-height: initial;
  min-width: 50%;
}

/* slider */

.slider
{
  width: 100%;
  height: 100%;
  display: flex;
  border: 5px solid #333;
  cursor: crosshair;
}

.slider__inner
{

}

.slider__label
{
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.slider__value
{
  color: #fff;
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  margin-top: 40px;
  color: #666;
}

.slider-container
{
  display: inline-block;
  height: 100%;
  width: 350px;
}

.slider-container .slider__label
{
  display: none;
}

.slider-container .slider__value
{
  margin-top: 0;
  font-size: 20px;
}

.slider-container .slider
{
  border: 0;
  background-color: #333;
}

/* panel content */

.screen-panel
{
  padding: 20px;
  height: 100%;
}

.screen-panel h1, h2, p
{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #666;
}

.screen-panel input
{
  font-size: 20px;
  padding: 10px;
  background-color: #000;
  border: 0;
  color: #999;
  margin: 10px;
  margin-left: 0;
}

.screen-panel hr
{
  border: none;
  border-top: 3px solid #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.screen-panel h1
{
  font-size: 36px;
  margin-bottom: 10px;
}

.screen-panel h2
{
  font-size: 20px;
}

/* utils */

.clear
{
  clear: both;
}
